#recordForm {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid lightpink;
    border-radius: 5px;
    background-color: #f9f9f9;
}

h2{
    text-align: center;
    color: black;
}
label {
    display: block;
    margin-bottom: 8px;
    color: black;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

#btn{
    background-color: Red;
    color: white;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 8px;
}

button:hover {
    background-color: #45a049;
}

    table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid lightpink;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    text-align: center;
}